@model TotaMoviesRental.Core.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<dl>
    <dt>Genre</dt>
    <dd>@Model.Genre.Name</dd>
    <dt>Release Date</dt>
    <dd>@Model.ReleaseDate.ToShortDateString()</dd>
    <dt>Date Added</dt>
    <dd>@Model.DateAdded.ToShortDateString()</dd>
    <dt>Number in Stock</dt>
    <dd>@Model.NumberInStock</dd>
</dl>