@model TotaMoviesRental.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2 class="text-primary text-center">@Model.Title</h2>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="well">
            @using (Html.BeginForm("Save", "Movies"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                @Html.ValidationSummary(true, "Please fix the following errors:")

                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ReleaseDate)
                    <div class='input-group date' id='releasedatepicker'>
                        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.ReleaseDate)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GenreId)
                    @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.GenreId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberInStock)
                    @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NumberInStock)
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document)
            .ready(function () {
                $("#releasedatepicker").datetimepicker({
                    format: "D MMM YYYY"
                });
            });
    </script>
}
